.dropdown 
{
color: #555;
margin: 3px 0 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
	/*background: #fff;*/
  	background: #F7F7F7;
	/*position: absolute;*/
	/*top: -12px;*/
	/*left: -20px;*/
	z-index: 100;
	/*width: 135px;*/
	display: none;
	/*margin-left: 10px;*/
	/*padding: 40px 0 5px;*/
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  	color: #9D65A4;

}
.dropdown li a 
{
color: #555555;
display: block;
/*font-family: arial;*/
/*font-weight: bold;*/
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
	background:#ddd;
  	color:#9D65A4;

	text-decoration: none;
}
a.navheader 
{

	background: #F4F9FA;
	display: block; 
	height: 40px;
	/*font: bold 15px/40px arial, sans-serif; */
	text-align: center; 
	line-height: 40px;
	text-decoration: none; 
	/*color: #FFF;  */
	color:#9D65A4;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;

	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	position: relative;
	z-index: 1000;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}