
/*** NAVIGATION ***/

.navbar {
	display:inline-block;
	height: 40px;
	margin: 0;
	padding-top: 3px;
	/*padding-right: 5px;*/
	padding-bottom: 0;
	/*padding-left: 5px;*/
}

.navigation {
  list-style: none;
  padding: 0;
  width: 150px; 
  height: 40px; 
  /*margin: 20px auto;*/
  background: #F4F9FA;


  /*position: relative; */
  z-index: 1000;
}

.navigation, .navigation a.main {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.navigation:hover, .navigation:hover a.main {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.navigation a.main {
  display: block; 
  height: 40px;
  /*font: bold 15px/40px arial, sans-serif; */
  text-align: center; 
  line-height: 40px;
  text-decoration: none; 
  /*color: #FFF;  */
  color:#9D65A4;

  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 1000;
}

.navigation:hover a.main {
  /*color: rgba(255,255,255,0.6);*/
  color: #BDC8D8;

  /*background: rgba(0,0,0,0.04);*/
}

.navigation li { 
  width: 100%; 
  height: 40px;
  background: #F7F7F7;
  /*font: normal 12px/40px arial, sans-serif !important; */
  line-height: 40px;
  z-index: 3000;
  color: #9D65A4;
  text-align: center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.navigation li:nth-child(even) { background: #F4F9FA; }
.navigation li:nth-child(odd) { background: #BDC8D8; }


/*DISAPPEAR TRANSITIONS*/
.navigation li.n1 { 
  -webkit-transition: 0.2s linear 0.08s;
  -o-transition: 0.2s linear 0.08s;
  transition: 0.2s linear 0.08s;
}
.navigation li.n2 {
  -webkit-transition: 0.2s linear 0.06s;
  -o-transition: 0.2s linear 0.06s;
  transition: 0.2s linear 0.06s;
}
.navigation li.n3 {
  -webkit-transition: 0.2s linear 0.04s;
  -o-transition: 0.2s linear 0.04s;
  transition: 0.2s linear 0.04s;
}
.navigation li.n4 { 
  -webkit-transition:0.2s linear 0.02s;
  -o-transition:0.2s linear 0.02s;
  transition:0.2s linear 0.02s;
}
.navigation li.n5 {
  /*border-radius: 0px 0px 4px 4px;*/
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.navigation li.n6 {
  /*border-radius: 0px 0px 4px 4px;*/
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.navigation li.n7 {
  /*border-radius: 0px 0px 4px 4px;*/
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.navigation li.n8 {
  /*border-radius: 0px 0px 4px 4px;*/
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.navigation li.n9 {
  /*border-radius: 0px 0px 4px 4px;*/
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}
.navigation li.n10 {
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}



.navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.2s linear 0s;
  -o-transition:0.2s linear 0s;
  transition:0.2s linear 0s;
}
.navigation:hover .n2 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.navigation:hover .n3 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.navigation:hover .n4 {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.navigation:hover .n5 {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.navigation:hover .n6 {
  -webkit-transition-delay: 0.10s;
  -o-transition-delay: 0.10s;
  transition-delay: 0.10s;
}
.navigation:hover .n7 {
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
.navigation:hover .n8 {
  -webkit-transition-delay: 0.14s;
  -o-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
.navigation:hover .n9 {
  -webkit-transition-delay: 0.16s;
  -o-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
.navigation:hover .n10 {
  -webkit-transition-delay: 0.18s;
  -o-transition-delay: 0.18s;
  transition-delay: 0.18s;
}

