
body {
	padding:0;
	margin: 0;
	/*font-family: 'Helvetica', sans-serif;*/
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: Exo 2, "Trebuchet MS", Arial, sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	font-size: 22px;
	/*color: white;*/
	/*background-color: #F4F9FA;*/
  background-color: #E7ECED;

  color:#aaa;
  /* Rectangle 33: */
/*  background-image: -o-linear-gradient(-46deg, #BD93D9 0%, #848480 52%, #8595EF 97%);
  background-image: -moz-linear-gradient(-46deg, #BD93D9 0%, #848480 52%, #8595EF 97%);
  background-image: -ms-linear-gradient(-46deg, #BD93D9 0%, #848480 52%, #8595EF 97%);
  background-image: linear-gradient(-136deg, #BD93D9 0%, #848480 52%, #8595EF 97%);*/

  /*background: #428DC2;*/

	/*background: -moz-radial-gradient(circle, #FAFAFA, #D1D1D1);*/
	/*background: #DDD; */
	/*background: #c3d6e2; */
/*	background: -moz-linear-gradient(left,  #c3d6e2 0%, #e0efff 25%, #e0efff 75%, #c3d6e2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c3d6e2), color-stop(25%,#e0efff), color-stop(75%,#e0efff), color-stop(100%,#c3d6e2));
	background: -webkit-linear-gradient(left,  #c3d6e2 0%,#e0efff 25%,#e0efff 75%,#c3d6e2 100%);
	background: -o-linear-gradient(left,  #c3d6e2 0%,#e0efff 25%,#e0efff 75%,#c3d6e2 100%);
	background: -ms-linear-gradient(left,  #c3d6e2 0%,#e0efff 25%,#e0efff 75%,#c3d6e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d6e2', endColorstr='#c3d6e2',GradientType=1 );*/


}

#ninesixty {
  /* 960: */
  max-width:960px;
  height:100%;
  background: #F4F9FA;
  margin-right: auto;
  margin-left: auto;
}



::-webkit-scrollbar-track-piece:start {
   /* Select the top half (or left half) or scrollbar track individually */
}

::-webkit-scrollbar-thumb:window-inactive {
   /* Select the thumb when the browser window isn't in focus */
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
   /* Select the down or left scroll button when it's being hovered by the mouse */
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#loginContainer {
	/*top:50%*/
	height:100%;
	width:100%;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	background:url('../images/blocks2.jpg') no-repeat;
	background-size: 1000px;
}
#loginBox {
	padding-top:30%;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
#loginBox input {
	display:block;
	margin:10px;
	margin-left:auto;
	margin-right:auto;
	height:40px;
	width:300px;
	font-size:20px
	font-family: 'Exo 2';
}

.buttonHead {
  font-family: 'Exo 2', 'Exo 2', sans-serif;
  font-size: 18px;
}
.submenu {
	z-index:100;
}
/*
body {
  background: url(../images/saturn.jpg) no-repeat center center fixed;
  -webkit-background-size: cover  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

a, a img {
	text-decoration: none;
	/*color:#428DC2;*/
  color: #9D65A4;

	border:none;
}

ul {
	margin: 0;
	padding: 0;
}

/*a:hover { color: #777; }*/

#statButtonBar {
  width: 100%;
  height: 20px;
}

#statButton {
  max-width: 200px;
  min-width: 100px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #949EDA;
  color: #F4F9FA;
  text-align: center;
  font-family: 'Exo 2', 'Exo 2', sans-serif;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  overflow: hidden;
}

#statButton.oneFold:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 0 16px 16px;
  border-style: solid;
  border-color: #A3AEF0 #F4F9F4;
  /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);*/
}
#statButton.twoFold:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #F4F9F4 #A3AEF0;
  /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);*/
}
#statButton.threeFold:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #A3AEF0 #F4F9F4;
  /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);*/
}
#statButton.fourFold:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #A3AEF0 #F4F9F4;
  /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);*/
}

/**************************************/

/*** chat box ***/

#messenger, #loginform {
    margin:0 auto;

    /*width:250px;*/

    /*opacity: .8;*/
    border-radius: 10px;
    /*border: solid 1px #ddd;*/
    box-shadow: 0px 2px 3px #777;
    /*float: left;*/
    margin-right: auto;
    margin-left: auto;
    height:600px;

    }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;


    background:#F4F9FA;
    height:500px;
    border:1px solid #ACD8F0;
    overflow:auto;
    /*border-radius: 4px;*/
     }
div#chatbox li {width:200px;}
div#chatbox p {margin-bottom: 0; padding-bottom: 0; width:200px;}
#usermsg {
    /*width:100%;*/
    height: 30px;
    border:1px solid #ACD8F0;
    border-radius: 4px;
    float: left;
  }

/*#submitmsg {
  float: left;
  height: 30px;
  width: 50px;
}*/

.error { color: #ff0000; }


.msgln { margin:0 0 2px 0; }

.gpDiv {
	margin:0 auto;
	display:none;
	max-width:320px;

	/*opacity: .8;*/
	/*border-radius: 10px;*/
	/*border: solid 1px #ddd;*/
	/*box-shadow: 0px 2px 3px #777;*/
	/*float: left;*/
	margin-right: auto;
	margin-left: auto;
}


.unlimit {display:none;}

#chatTab1 {
  width: 40px;
  height: 80px;
  background: #949EDA;
  color: #F4F9FA;
  /*display: inline-block;*/
  float: left;
  border-radius: 4px 0px 0px 4px ;
  /*color:#9D65A4;*/
  /*box-shadow: 0px 2px 3px #777; */

}
#chatTab1:hover {
  cursor: pointer;
}
#chatTab1 p {
  /* Safari */
  -webkit-transform: rotate(-90deg);

   /*Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  line-height: 40px;


}

#chatTab {
  width: 60px;
  height: 115px;
  /*background: #949EDA;*/
  /*color: #F4F9FA;*/
  /*line-height: 17px;*/
  float: left;
  clear:both;
  background-image: url('../images/chatTab.png');
  background-position: -10px 0px;
  background-repeat: no-repeat;
  background-size: 75%;
  margin:0;
  padding:0;
  /*border-radius: 0px 4px 4px 0px ;*/
  margin-top: 20px;

}
#chatTab:hover {
  cursor: pointer;
}

#rollTab {
  width: 60px;
  height: 115px;
  /*background: #949EDA;*/
  /*color: #F4F9FA;*/
  /*line-height: 17px;*/
  clear:both;

  float: left;
  background-image: url('../images/cupTab.png');
  background-position: -10px 0px;
  background-repeat: no-repeat;
  background-size: 75%;
  margin:0;
  padding:0;
  /*border-radius: 0px 4px 4px 0px ;*/
  margin-top: 20px;

}
#rollTab:hover {
  cursor: pointer;
}

#timelineTab {
  width: 60px;
  height: 115px;
  /*background: #949EDA;*/
  /*color: #F4F9FA;*/
  /*line-height: 17px;*/
  float: left;
  clear: both;
  background-image: url('../images/timelineTab.png');
  background-position: -10px 0px;
  background-repeat: no-repeat;
  background-size: 75%;
  margin:0;
  padding:0;
  /*border-radius: 0px 4px 4px 0px ;*/
  margin-top: 20px;

}
#timelineTab:hover {
  cursor: pointer;
}
#timelineTab p {
  /* Safari */
  -webkit-transform: rotate(90deg);

   /*Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  /*line-height: 0px;*/


}

#infoTab {
  width: 60px;
  height: 115px;
  /*background: #949EDA;*/
  /*color: #F4F9FA;*/
  /*line-height: 17px;*/
  float: left;
  clear: both;
  background-image: url('../images/infoTab.png');
  background-position: -10px 0px;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  /*border-radius: 0px 4px 4px 0px ;*/
  margin-top: 20px;

}
#infoTab:hover {
  cursor: pointer;
}



#playerlist {
  padding-top:20px;
}
/*********************************/


/*styles for debug at top of page*/
#debug {
	color: #CF4C55;
	border-bottom: 1px solid;
}
#header {
	height: 43px;
	/*background-color: #685C82;*/
  background-color: #E7ECED;

	/*opacity: .6;*/
  /*background-color:rgba(0, 0, 0, 0);*/
}

#logoDiv {
  padding-top: 20px;
  margin-left: 50px;
}

#logo {
  width:20px;
  margin:5px;
}

#selectdiv {
	width: 250px;
}

/*DICE IMAGES*/
#dicesprite1, #dicesprite2, #dicesprite3, #dicesprite4, #dicesprite5, #dicesprite6 {
  background-image: url("../images/dicesprite.png");
  background-repeat: no-repeat;
  height:50px;
  width:50px;
  /*float:left;*/
}

#dicesprite1 {
  background-position: 0px 0px;
}

#dicesprite2 {
  background-position: -50px 0px;
}

#dicesprite3 {
  background-position: -100px 0px;
}

#dicesprite4 {
  background-position: -150px 0px;
}

#dicesprite5 {
  background-position: -200px 0px;
}

#dicesprite6 {
  background-position: -250px 0px;
}

#timeline {
  width:300px;
  height:600px;

  /*height:450px;*/
  float:left;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*margin-left: 15px;*/
  /*overflow: scroll;*/
  overflow-x:auto;
  /*z-index: -1;*/
  /*margin:0 auto;*/
  /*border-radius: 10px;*/
  /*border: solid 1px #ddd;*/
  /*box-shadow: 0px 2px 3px #777; */
  /*float: left;*/
  /*background-color:#ffffff;*/
  /*display: none;*/

}

#timeline ul {
  /*border-left: 4px solid #E9E6E6;*/
  border-left: 4px solid #B3B8D0;

  /*padding-left: -10px;*/
  margin-left: 50px;
}

#timeline ul li {
  list-style: none;
  /*border:solid 1px;
  border-radius: 50%;
  height:10px;
  width:10px;
  margin: 40px 0;
  position: relative;*/
  /*width:200px;*/
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  color: #918FB3;
  margin: 20px 0;
  position: relative;
  line-height: 12px;
  font-family: 'Exo 2', 'Exo 2', sans-serif;
  vertical-align: middle;


}
.active {
  display: visible;
}


.ztop {
  z-index: 100;
}

.zbottom {
  z-index: -1;
}

.circle {
  vertical-align: middle;
  margin-left: -11px;
  margin-right: 5px;
  top: 50%;
  /*left: -10px;*/
  width: 10px;
  height: 10px;
  /*border: 4px solid #E9E6E6;*/
  border: 4px solid #B3B8D0;

  border-radius: 50%;
  display: inline-block;
  background-color: #E9E6E6;
  /*position: absolute;*/
  /* Oval 132: */
  /*background: #F4F4F4;*/
  -moz-box-shadow:    inset 0px 0px 2px 2px rgba(0,0,0,0.08);
  box-shadow:         inset 0px 0px 2px 2px rgba(0,0,0,0.08);
}

.foldCircle {
  /*vertical-align: middle;*/
  /*margin-left: -11px;*/
  /*margin-right: 5px;*/
  /*top: 50%;*/
  /*left: -10px;*/
  width: 10px;
  height: 10px;
  border: 2px solid #B3B8D0;
  border-radius: 50%;
  display: inline-block;
  /*background-color: #428DC2;*/
  /*position: absolute;*/
}

/*COLUMNS*/
.column {
  /*height: 100%;*/
  float: left;
  width: 300px;
  padding:5px;
  margin-right:5px;
  /*opacity: .8;*/
  /*display: inline-block;*/
}

/*.middle-col {
  height: 100%;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  padding:5px;

}*/

#left-col {
	/*height: 100%;*/
	float: left;
	width: 450px;
	margin-top: 75px;
	padding:5px;
	margin-right:5px;
	color:black;
  /*background-color:#ffffff;*/
  /*z-index: -1;*/
  /*position: fixed;*/
  display: inline-block;
  border-radius: 10px;
  /*box-shadow: 0px 2px 3px #888888;*/
}

#middle-col {
	height: 100%;
	/*float:left;*/
	/*max-width: 800px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*display: inline-block;*/
	/*margin:55px;*/
  /*padding:10px;*/
  /*border-radius: 30px;*/
	/*background-color: #ddd;*/
  /*background-color: #685C82;
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.05);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.05);*/
}
#viewportInner {
  border-radius: 10px;
  /* viewport inner: */
  /*background: #544C65;
  -moz-box-shadow:    inset 1px 1px 9px 0px rgba(50,49,49,0.46);
  box-shadow:         inset 1px 1px 9px 0px rgba(50,49,49,0.46);*/

  background-image: url("../images/viewportinner.png");
  /*background-repeat: repeat-x;*/
  max-width:725px;
  height: 287px;
  /*margin:20px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  margin: 20px;
  /*margin: auto;*/
  /*display: inline-block;*/


}

#viewportOuter2 {

  max-width:765px;
  height:320px;
  margin-right: auto;
  margin-left: auto;
  /*margin:2.5px;*/
  border-radius: 11px;
  /* Rectangle 56: */
  background-image: -o-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
  background-image: -moz-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
  background-image: -ms-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
  background-image: radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
  /*display: inline-block;*/


}

/*the white highlight around the very edge of the viewport*/
#viewportOuter {

  max-width:570px;
  height:325px;
  border-radius: 11px;
  /* Rectangle 56: */
  background-image: -o-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
  background-image: -moz-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
  background-image: -ms-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
  background-image: radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
  margin-right: auto;
  margin-left: auto;
  /*display: inline-block;*/


}

@media all and (max-width: 500px) {

  #viewportInner {
    border-radius: 10px;
    /* viewport inner: */
    /*background: #544C65;
    -moz-box-shadow:    inset 1px 1px 9px 0px rgba(50,49,49,0.46);
    box-shadow:         inset 1px 1px 9px 0px rgba(50,49,49,0.46);*/

    background-image: url("../images/viewportinnerTall.png");
    /*background-repeat: repeat-x;*/
    max-width:725px;
    height: 487px;
    /*margin:20px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin: 20px;
    /*margin: auto;*/
    /*display: inline-block;*/


  }

  #viewportOuter2 {

    max-width:765px;
    height:520px;
    margin-right: auto;
    margin-left: auto;
    /*margin:2.5px;*/
    border-radius: 11px;
    /* Rectangle 56: */
    background-image: -o-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
    background-image: -moz-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
    background-image: -ms-radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
    background-image: radial-gradient(49% 144%, #FFFFFF 56%, #ECECEC 100%);
    /*display: inline-block;*/


  }

  /*the white highlight around the very edge of the viewport*/
  #viewportOuter {

    max-width:570px;
    height:525px;
    border-radius: 11px;
    /* Rectangle 56: */
    background-image: -o-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
    background-image: -moz-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
    background-image: -ms-radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
    background-image: radial-gradient(50% -23%, #F2F2F2 42%, #FFFFFF 100%);
    margin-right: auto;
    margin-left: auto;
    /*display: inline-block;*/


  }

}



#right-col {
  /*height: 100%;*/
  float: right;
  display: inline-block;
  /*width: 340px;*/
  margin-top: 75px;
  margin-left: 5px;
  /*padding:5px;*/
  color:black;

}

#wildsdiv {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:100px;
	margin-top:10px;
	padding-left:60px;
	height:150px;
	width:400px;
}

#diceCup {
/*    border-radius: 50%;
    behavior: url(PIE.htc);*/ /* remove if you don't care about IE8 */
    /*width: 350px;*/
    height: 55px;
    /*border: 5px solid black;*/
    margin-right:auto;
    margin-left: auto;
}

#dice {
	/*width: 150px;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 90px;*/
	text-align: center;
	/*margin-bottom: 75px;*/
}

#dice div {
  margin: 23px 8px;
  display: inline-block;
}

#rollContainer {
  float: left;
  max-width: 500px;
  height: 100%;
  vertical-align: bottom;
}

/*buttons*/
#buttonsContainer {
  max-width:74px;
  /*margin-top: 18px;*/
  /*margin-right: 14px;*/
  /*float: right;*/
	margin-left:auto;
	margin-right:auto;
}


.pullButton {
  background-image: url("../images/pullButton.png");
  background-repeat: no-repeat;
	width: 74px;
  height: 74px;
	border: none;
  border-radius: 4px;
	margin-bottom: 12px;
  padding: 0;
  /*display: inline;*/

}

/*.pullButton:hover {
	-webkit-box-shadow: inset 0 0 10px red;
    -moz-box-shadow: inset 0 0 10px red;
    box-shadow: inset 0 0 10px red;
}*/

.lookButton {
  background-image: url("../images/lookButton.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
	width: 74px;
  height: 74px;
	margin-bottom: 12px;
  padding: 0;
  /*display: inline;*/
}

/*.lookButton:hover {
	-webkit-box-shadow: inset 0 0 10px blue;
    -moz-box-shadow: inset 0 0 10px blue;
    box-shadow: inset 0 0 10px blue;
}*/

.passButton {
	/*background-color: white;
	border-radius: 10px;*/
  background-image: url("../images/passButton.png");
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
	/*padding: 5;*/
	margin-bottom: 12px;
  padding: 0;
	/*display: inline;*/
  border: none;
  border-radius: 4px;


}

/*.passButton:hover {
	-webkit-box-shadow: inset 0 0 10px green;
    -moz-box-shadow: inset 0 0 10px green;
    box-shadow: inset 0 0 10px green;
}*/

.rerollButton {
	/*background-color: white;
	border-radius: 10px;*/
  background-image: url("../images/reRollButton.png");
  width: 74px;
	height: 74px;
	border:none;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 0;
  /*display: inline;*/

}

/*.rerollButton:hover {
	-webkit-box-shadow: inset 0 0 10px orange;
    -moz-box-shadow: inset 0 0 10px orange;
    box-shadow: inset 0 0 10px orange;
}*/


.bigbutton {
	height: 130px;
	width: 130px;
	font-size: 24px;
	box-shadow: 0px 2px 3px #777;
}


#statTable {
	padding-bottom: 20px;
  float:left;
	/*width: 100%;*/
/*	background-color:#ffffff;
	border-radius: 10px;
	border: solid 1px #ddd;
	box-shadow: 0px 2px 3px #777;
  color: black;*/


}
#statTable td, #statTable th {
	margin:5px;
	text-align: center;
}
.clear {clear:both;}
.opaque {
	/*background-color: #E8F3FA;*/
	background-color: #aaa;
	color:black;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.center {
	margin-right: auto;
	margin-left: auto;
}

/*multi color palette*/

.violet {
  background-color: #A16AFF;
}

.red {background-color: #E8300A;}

.yellow {background-color: #FFE23B;}

.green {background-color: #3CE873;}

.blue {background-color: #2E56FF;}
