/* .main {
  display: grid;
  grid-template-areas:
    "stats stats"
    "header header"
    "roll history"
    "try chat";
    grid-template-columns: 1fr 1fr;
} */

/* .stats {
  grid-area: stats;
}
.roll {
  grid-area: roll;
}
.history {
  grid-area: history;
}
.try {
  grid-area: try;
} */

body {
  background-color: #a19fbb;
  color: #dfeee3ff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

#logo {
  transform: rotateX(1.5turn);
  transition: transform 400ms ease-in-out 0ms, color 400ms ease-in-out 100ms;
}

.logo-container:hover #logo {
  transform: rotate(270deg);
  color: #A19FBB;
}

/*
button {
  color: #907AD6
}

.wild {
  color: #907AD6;
  background-color: #dfeee3;
} */
