/* .main {
  display: grid;
  grid-template-areas:
    "stats stats"
    "header header"
    "roll history"
    "try chat";
    grid-template-columns: 1fr 1fr;
} */

/* .stats {
  grid-area: stats;
}
.roll {
  grid-area: roll;
}
.history {
  grid-area: history;
}
.try {
  grid-area: try;
} */

body {
  background-color: #A19FBB;
  color: #dfeee3ff;
  font-family: 'Space Grotesk', sans-serif;
}
/*
button {
  color: #907AD6
}

.wild {
  color: #907AD6;
  background-color: #dfeee3;
} */
