<html ng-app="login">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="js/loginController.js"></script>
</head>



<body>
	<div id="loginContainer">
		<div id="loginBox">
	        <form ng-submit="submit()" ng-controller="loginCtrl">
				<div id="logoDiv"><img class="center" style="padding-left:60px; " src="images/logo2.png"></div>
				<div><h2 style="text-align:center; color:white; font-size:50px;">DiceTron</h2></div>
				<!--Username: -->
	            <input type='text' ng-model='text' name='username' id='username' placeholder='Username'>
	            <!--Password:-->
	            <!--<input type='password' name='password' />-->
	            <input type='submit' name='submit' value='Submit' />
	        </form>
		</div>
	</div>

</body>
</html>
